/* Chat history */
.history {
  border: solid 1px rgba( 0, 0, 0, 0.20 );
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  height: 350px;
}
  
/* History line items */
/* Line items are DIV elements */
.history > div {
  border-bottom: solid 1px rgba( 0, 0, 0, 0.20 );
  line-height: 20px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}
  
/* Message input area */
/* DIV element for easier styling */
.message {
  border: solid 1px rgba( 0, 0, 0, 0.20 );
  height: 35px;
  line-height: 35px;    
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  color: #000;
}

/* Placeholder text styling */
.placeholder {
  color: #000;
}
